image: cirrusci/flutter

stages:
- test
- coverage

UnitWidgetTests:
  stage: test
  script:
  - flutter channel stable
  - flutter packages get
  - flutter test --coverage
  artifacts:
    paths:
    - coverage

coverage:
  image: ubuntu:16.04
  stage: coverage
  coverage: '/^\s+lines.+: (\d+.\d*%)/'
  dependencies:
  - UnitWidgetTests
  script:
  - apt-get install lcov gcov
  - genhtml -o coverage coverage/lcov.info