image: cirrusci/flutter

stages:
- test
- coverage

UnitWidgetTests:
  stage: test
  script:
  - flutter channel stable
  - flutter packages get
  - flutter test --coverage
  artifacts:
    paths:
    - coverage

coverage:
  image: registry.gitlab.com/marsoner/docker-for-test-coverage:latest
  stage: coverage
  coverage: '/^\s+lines.+: (\d+.\d*%)/'
  dependencies:
  - UnitWidgetTests
  script:
  - genhtml -o coverage coverage/lcov.info